.animate-slideup {
    animation: slideup 0.5s ease-out forwards;
  }
  
  @keyframes slideup {
    from {
      transform: translateY(100%);
    }
    to {
      transform: translateY(0);
    }
  }
  