/* 
  .floating-icon {
    display: inline-block;

    text-decoration: none; 
    font-size: 3rem; 
    transition: all 0.3s ease; 
 
}

.floating-icon:hover {
    transform: translateY(-5px); 
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.5); 
}

 */

 .floating-icon {
  display: inline-block;
  text-decoration: none; /* Removes underline from the anchor tag */
  font-size: 3rem; /* Adjust size according to your needs */
  transition: all 0.3s ease; /* Smooth transition for hover effect */
  background: transparent; /* Ensures no background color interferes */
}

.floating-icon:hover {
  transform: translateY(-5px); /* Lifts the icon up on hover */
}

.floating-icon svg { /* Assuming the icon is an SVG. Adjust the selector if it's an <i> or <img> */
  filter: drop-shadow(0 10px 15px rgba(0, 0, 0, 0.1));
}

.floating-icon:hover svg {
  filter: drop-shadow(0 15px 20px rgba(0, 0, 0, 0.7)); /* Larger shadow on hover */
}

@keyframes googleColors {
  0%, 100% {
    color: #3e65cf; /* Blue */
  }
  25% {
    color: #c71610; /* Red */
  }
  50% {
    color: #f2a60c; /* Yellow */
  }
  /* 75% {
    color: #08851b; 
  } */
}

.floating-icon:hover {
  animation: googleColors 1s infinite;
}

/* Add at the top of your Dashboard.css file */
@keyframes fadeIn {
  from {
      opacity: 0;
      transform: translateY(20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

.fadeIn {
  animation: fadeIn 1s ease-out forwards;
}


